### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# print(purchase_data.columns)

## Player Count

* Display the total number of players

In [31]:
# Return unique values in the SN column
total_players = purchase_data.SN.nunique()
# print(total_players)

# Create dictionary to store total_players
total_players_dict = {"Total Players":[total_players]}
# print(total_players_dict)

# Create df
total_players_df = pd.DataFrame(total_players_dict)
display(total_players_df)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Number of unique items
unique_items = purchase_data['Item ID'].nunique()
# print(unique_items)

# Average price
avg_price = purchase_data['Price'].mean()
# print(avg_price)

# Create dictionary for data frame
analysis_dict = {'Number of Unique Items':[unique_items],
                           'Average Price':[avg_price]}
# print(analysis_dict)

# Create summary df
analysis_df = pd.DataFrame(analysis_dict)
display(analysis_df)

   Number of Unique Items  Average Price
0                     183       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [39]:
# Gender Demographics df
gender_demo_df = purchase_data[['SN','Gender']]
# display(gender_demo_df)

player_count = purchase_data.SN.nunique()
# print(player_count)

grouped_players_df = gender_demo_df.groupby('Gender').count()
display(grouped_players_df)

percent = grouped_players_df['SN'] / player_count * 100
print(percent)

                        SN
Gender
Female                 113
Male                   652
Other / Non-Disclosed   15

Gender
Female                    19.618056
Male                     113.194444
Other / Non-Disclosed      2.604167
Name: SN, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Purchase count by gender
# Average purchase price by gender
# Average purchase total per person by gender
# Create a summary data frame
# Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# Establish bins for ages
# Categorize the existing players using the age bins
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
# Bin the purchase_data data frame by age
# Purchase count per person
# Average purchase price per person
# Average purchase total per person
# Create a summary data frame to hold the results
# Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame